<section>
   <div class="container">
      <div class="row mt-4">
         <div class="col col-12 col-sm-8 col-md-5">
            <form method="POST" action="/admin/add-product" enctype="multipart/form-data">
               <div class="form-group">
                  <label for="product">Product Name</label>
                  <input type="text" class="form-control" id="product" aria-describedby="product" name="product_name">
               </div>
               <div class="form-group">
                  <label for="category">category</label>
                  <input type="text" class="form-control" id="category" name="category">
               </div>
               <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" class="form-control" id="description" name="description">
               </div>
               <div class="form-group">
                  <label for="price">Price</label>
                  <input type="text" class="form-control" id="price" name="price">
               </div>
               <div class="form-group">
                  <label for="picture">Picture</label>
                  <input type="file" class="form-control" id="picture" name="image">
               </div>
               <button type="submit" class="btn btn-primary">Submit</button>
            </form>
         </div>
      </div>
   </div>
</section>