body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background: #202020d3;
}
#products-image-user{
  height: 250px;
  width: 100%;
}
/* Checkout page address form layout */
.grid-layout{
  display: grid;  
  grid-template-columns: auto auto;
  column-gap: 1rem;
}
#full-width{
  grid-column: 1/-1;
}
.custom-grid {
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto auto;
  grid-gap: 1.5rem;
}

@media (max-width: 768px){
  .respo{
  
  }
}
@media (max-width: 575px){
  .grid-layout{
    grid-template-columns: auto;
  }
}

@media(max-width: 275px){

}