<div class="container">
   <div class="row">
      <div class="col-1 col-sm-1 col-md-2">
         {{!-- left --}}
      </div>
      <div class="col-12 col-sm-10 col-md-8 mt-5">
         <div class="heading">
            <h4 class="display-3 text-center">Login</h4>
         </div>
         <div class="text-center text-warning display-4">
            <b> {{warning}} </b>
         </div>
         <form action="/account/login" method="POST">
            <div class="form-group">
               <label for="exampleInputEmail1">Email address</label>
               <input type="email" tabindex="1" required class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp" name="email">
            </div>
            <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" tabindex="2" required class="form-control" id="exampleInputPassword1"
                  name="password">
            </div>
            <div class="form-group">
               <div class="row">
                  <a href="/account/signup" tabindex="4" class="p-2"> Create A Account </a>
               </div>
               <div class="text-right mr-5">
                  <button type="submit" tabindex="3" class="btn btn-primary mr-2">Login</button>
               </div>
            </div>
         </form>
      </div>
      <div class="col-1 col-sm-1 col-md-2">
         {{!-- right --}}
      </div>
   </div>
</div>