<div class="container-md">
   <div class="row mt-5">
      <div class="col p-4 mx-1 border border-secondary rounded">
         <form method="POST" action="/orders/checkout">
            <div class="row">
               <div class="col col-12 col-sm-10 col-md-6 grid-layout">
                  <p class="h4 text-light text-center">Shipping Address</p>
                  <hr>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Name" required name="name">
                  </div>
                  <div class="form-group">
                     <input type="tel" class="form-control" placeholder="Phone Number" required minlength="9"
                        maxlength="11" name="phone">
                  </div>
                  <div class="form-group">
                     <input type="tel" minlength="6" class="form-control" placeholder="Pincode" required name="pincode">
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Locality" required name="locality">
                  </div>
                  <div class="form-group" id="full-width">
                     <textarea class="form-control" rows="3" placeholder="Address" required name="address"></textarea>
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="City" required name="city">
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="State" required name="State">
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Landmark" required name="Landmark">
                  </div>
                  <div class="form-group">
                     <input type="tel" class="form-control" placeholder="Alternative Phone Number" minlength="9"
                        maxlength="11" name="alter_phone">
                  </div>
               </div>
               <div class="col col-12 col-sm-6 col-md-6 p-3 border border-dark d-flex flex-column">
                  <p class="h4 text-light text-center">Total Amout : Rs. <span id="total">...</span> </p>
                  <hr>
                  <div class="row flex-column ml-3 text-light">
                     <p class="h5 text-left">Payment Options</p>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment" id="cod" value="cod">
                        <label class="form-check-label" for="cod">
                           COD
                        </label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment" id="online-payment"
                           value="online-payment" checked>
                        <label class="form-check-label" for="online-payment">
                           Online Payment
                        </label>
                     </div>
                  </div>
                  <div class="form-group w-100 d-flex" style="justify-content: center; align-items: end; flex-grow: 1;">
                     <button type="button" class="btn btn-success mt-5">Checkout</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

<script>
   loadTotal();
</script>