<div class="container-md">
   {{#if cartTagCount}}
   <div class="row mt-5">
      <div class="col p-4 mx-1 border border-secondary rounded">
         <form method="POST" action="/orders/checkout" id="checkout-form">
            <div class="row">
               <div class="col col-12 col-sm-10 col-md-6 grid-layout">
                  <p class="h4 text-light text-center">Shipping Address</p>
                  <hr>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Name" required name="name">
                  </div>
                  <div class="form-group">
                     <input type="tel" class="form-control" placeholder="Phone Number" required minlength="9"
                        maxlength="11" name="phone">
                  </div>
                  <div class="form-group">
                     <input type="tel" minlength="6" class="form-control" placeholder="Pincode" required name="pincode">
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Locality" required name="locality">
                  </div>
                  <div class="form-group" id="full-width">
                     <textarea class="form-control" rows="3" placeholder="Address" required name="address"></textarea>
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="City" required name="city">
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="State" required name="state">
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Landmark" required name="landmark">
                  </div>
                  <div class="form-group">
                     <input type="tel" class="form-control" placeholder="Alternative Phone Number" minlength="9"
                        maxlength="11" name="alter_phone">
                  </div>
               </div>
               <div class="col col-12 col-sm-6 col-md-6 p-3 border border-dark d-flex flex-column">
                  <p class="h4 text-light text-center">Total Amout : Rs. <span id="total">...</span> </p>
                  <hr>
                  <div class="row flex-column ml-3 text-light">
                     <p class="h5 text-left">Payment Options</p>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment" id="cod" value="cod">
                        <label class="form-check-label" for="cod">
                           COD
                        </label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment" id="online-payment"
                           value="online-payment" checked>
                        <label class="form-check-label" for="online-payment">
                           Online Payment
                        </label>
                     </div>
                  </div>
                  <div class="form-group w-100 d-flex" style="justify-content: center; align-items: end; flex-grow: 1;">
                     <input type="submit" class="btn btn-success mt-5" value="Checkout"
                        onclick="return confirm('Initiate Checkout')">
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
   {{else}}
   <div class="row m-5">
      <div class="col border border-primary rounded text-danger text-center">
         <p class="font-weight-bold">
         <h1 class="heading-4">
            Cart Is Empty
         </h1>
         <p class="text-primary">Please Add Products To Cart</p>
         </p>
      </div>
   </div>
   {{/if}}
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
   loadTotal();
   $('#checkout-form').submit(e => {
      e.preventDefault();
      $.ajax({
         url: '/orders/checkout',
         method: 'POST',
         data: $('#checkout-form').serialize()
      }).always(response => {
         console.log(response);
         if (response.success) {
            if (response.redirect) {
               location.href = '/orders'
            }
            else if (response.callGateWay) {
               console.log('checking and calling razorpay')
               callRazorPay(response.razorObj)
            }

         }
      })
   });
   function callRazorPay(razorObj) {
      console.log(razorObj);
      var options = {
         "key": razorObj.key_id, // Enter the Key ID generated from the Dashboard
         "amount": razorObj.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
         "currency": "INR",
         "name": "Shoppign Cart",
         "description": "Test Transaction",
         "image": "https://example.com/your_logo",
         "order_id": razorObj.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
         "handler": function (paymentResponse) {
            console.log(paymentResponse.razorpay_payment_id);
            console.log(paymentResponse.razorpay_order_id);
            console.log(paymentResponse.razorpay_signature);

            validatePayment(paymentResponse, razorObj.receipt);
         },
         "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9999999999"
         },
         "notes": {
            "address": "Razorpay Corporate Office"
         },
         "theme": {
            "color": "#3399cc"
         }
      };

      var rzp1 = new Razorpay(options);
      rzp1.on('payment.failed', function (response) {
         alert(response.error.code);
         alert(response.error.description);
         alert(response.error.source);
         alert(response.error.step);
         alert(response.error.reason);
         alert(response.error.metadata.order_id);
         alert(response.error.metadata.payment_id);
      });

      rzp1.open();
   }

   function validatePayment(paymentResponse, orderId) {
      $.ajax({
         url: '/payment',
         method: 'POST',
         data: { paymentResponse, orderId }
      }).always(response => {
         console.log(response);
      })
   }
</script>