<div class="container">
   <div class="row">
      <div class="col"></div>
      <div class="col-12 col-sm-10 col-md-8 mt-5 p-2">
         <div class="jumbotron bg-dark">
            <div class="round-pic d-flex justify-content-center">
               <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg" style="width: 12rem;height: 12rem">
                  <path
                     d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
               </svg>
            </div>
            <hr>
            <div class="profile">
               <div class="mx-5 text-warning font-weight-bold" style="font-size: 2rem;">
                  <p id="warning"> </p>
               </div>
               <form class="px-3 m-2" id="profile-form">
                  <div class="form-group d-flex">
                     <input type="text" class="form-control" id="name" name="name" value="{{name}}" placeholder="Name"
                        disabled>
                     <label for="name" id="edit-name">
                        <div class="btn btn-outline-primary mx-1">
                           <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd"
                                 d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z">
                              </path>
                           </svg>
                        </div>
                     </label>
                  </div>
                  <div class="form-group d-flex">
                     <input type="email" class="form-control" id="email" name="email" value="{{email}}"
                        placeholder="E-mail" disabled>
                     <label for="email" id="edit-email">
                        <div class="btn btn-outline-primary mx-1">
                           <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd"
                                 d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z">
                              </path>
                           </svg>
                        </div>
                     </label>
                  </div>
               </form>
               <div class="custom-grid mt-4">
                  <a href="/account/profile" class="btn btn-primary">Change Password</a>
                  <input type="submit" class="btn btn-primary" id="save-change" form="profile-form" disabled
                     value="Save Changes">
               </div>
            </div>
         </div>
      </div>
      <div class="col"></div>
   </div>
</div>
<script>
   $("#edit-name").click(e => {
      console.log("name edit clicked")
      $("#name").removeAttr("disabled")
      $("#save-change").removeAttr("disabled")
   })
   $("#edit-email").click(e => {
      console.log("name email clicked")
      $("#email").removeAttr("disabled")
      $("#save-change").removeAttr("disabled")
   })
   $("#profile-form").submit(e => {
      e.preventDefault()
      console.log("submit button clicked")
      $.ajax({
         url: "profile-update",
         method: "POST",
         data: $("#profile-form").serialize()
      }).always((response) => {
         console.log(response);
         $("#warning").text(response.message)
         setTimeout(() => { $("#warning").text("") }, 2500)
      })
   })
</script>