<div class="container">
   <div class="row">
      <div class="col-1 col-sm-1 col-md-2">
         {{!-- left --}}
      </div>
      <div class="col-12 col-sm-10 col-md-8 mt-5">
         <div class="heading">
            <h4 class="display-3 text-center">Signup</h4>
         </div>
         <form action="/account/signup" method="POST" id="signup-form">
            <div class="form-group">
               <label for="username">Name</label>
               <input type="text" tabindex="1" required class="form-control" name="name" id="username">
            </div>
            <div class="text-center text-warning display-4">
               <b id="warning"> </b>
            </div>
            <div class="form-group">
               <label for="email">Email address</label>
               <input type="email" tabindex="2" required class="form-control" id="email" aria-describedby="emailHelp"
                  name="email">
            </div>
            <div class="form-group">
               <label for="pass1">Password</label>
               <input type="password" tabindex="3" required class="form-control" id="pass1" name="password">
            </div>
            <div class="text-center text-warning" style="font-size: 2.7rem;">
               <b id="passconf"> </b>
            </div>
            <div class="form-group">
               <label for="pass2">Confirm Password</label>
               <input type="password" tabindex="3" required class="form-control" id="pass2">
            </div>
            <div class="form-group">
               <div class="a">
                  <a href="/account/login" tabindex="5" class="p-2"> Login if you have account </a>
               </div>
               <div class="text-right mr-5">
                  <button type="submit" tabindex="4" class="btn btn-primary mr-2">Signup</button>
               </div>
            </div>
         </form>
      </div>
      <div class="col-1 col-sm-1 col-md-2">
         {{!-- right --}}
      </div>
   </div>
</div>
<script>
   $("#signup-form").submit(e => {
      e.preventDefault();
      console.log()
      if (!($("#pass1").val() == $("#pass2").val())) {
         $("#passconf").text("Password Confirmation Did't Match")
      } else {
         $("#warning").text("")
         $("#passconf").text("")
         $.ajax({
            url: '/account/signup',
            method: "POST",
            data: $("#signup-form").serialize()
         }).always((response) => {
            console.log(response);
            if (response.status) {
               window.location = `/`
            } else if (response.userExist) {
               $("#warning").text("email exist")
            }
            else {
               $("#warning").text("something went wrong in server")
            }
         })
      }
   })
</script>