<div class="container">
   <div class="row">
      <div class="col-1 col-sm-1 col-md-2">
         {{!-- left --}}
      </div>
      <div class="col-12 col-sm-10 col-md-8 mt-5">
         <div class="heading">
            <h4 class="display-3 text-center">Signup</h4>
         </div>
         <form>
            <div class="form-group">
               <label for="exampleInputEmail1">Email address</label>
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="email">
            </div>
            <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <div class="form-group">
               <div class="a">
                  <a href="/login" class="p-2"> Login if you have account </a>
               </div>
               <div class="text-right mr-5">
                  <button type="submit" class="btn btn-primary mr-2">Signup</button>
               </div>
            </div>
         </form>
      </div>
      <div class="col-1 col-sm-1 col-md-2">
         {{!-- right --}}
      </div>
   </div>
</div>